@model BreadcumbViewModel
<!--Breadcrumb-->
<div class="bg-white border-bottom">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">@Model.Title</h4>
            <ol class="breadcrumb">
                @foreach (KeyValuePair<string, string> item in Model.Path)
                {
                    if (item.Value != null)
                    {
                        <li class="breadcrumb-item"><a asp-action="@item.Key" asp-controller="@item.Value">@item.Value</a></li>
                    }
                    else
                    {
                        <li class="breadcrumb-item active" aria-current="page">@item.Key</li>
                    }

                }
            </ol>
        </div>
    </div>
</div>
<!--/Breadcrumb-->