@model AccountIndexViewModel
@{
    ViewData["Title"] = "Profile";

    var City = ViewBag.City ?? "City";
    var FirstName = ViewBag.Firstname ?? "First Name";
    var LastName = ViewBag.LastName ?? "Last Name";
    var Phone = ViewBag.Phone ?? "Phone";
    var Address = ViewBag.Address ?? "Home Adress";
    var ZipCode = ViewBag.Zip ?? "Zip Code";
    var Country = ViewBag.Country ?? "Select";


}

<!--Breadcrumb-->
<section>
    <div class="bannerimg cover-image bg-background3" data-image-src="../assets/images/banners/banner2.jpg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white">
                    <h1 class="">My Dashboard</h1>
                    <ol class="breadcrumb text-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active text-white" aria-current="page">My Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Breadcrumb-->
<!--User Dashboard-->
<section class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">My Dashboard</h3>
                    </div>
                    <div class="card-body text-center item-user border-bottom">
                        <div class="profile-pic">
                            <div class="profile-pic-img">
                                <span class="bg-success dots" data-toggle="tooltip" data-placement="top" title="online"></span>
                                <img src="../assets/images/users/male/25.jpg" class="brround" alt="user">
                            </div>
                            <a href="userprofile.html" class="text-dark"><h4 class="mt-3 mb-0 font-weight-semibold">Robert McLean</h4></a>
                        </div>
                    </div>
                    <div class="item1-links  mb-0">
                        <a href="mydash.html" class="active d-flex border-bottom">
                            <span class="icon1 mr-2"><i class="typcn typcn-edit fs-20"></i></span> Edit Profile
                        </a>
                        <a href="myjobs.html" class=" d-flex border-bottom">
                            <span class="icon1 mr-2"><i class="typcn typcn-briefcase fs-20"></i></span> My Jobs
                        </a>
                        <a href="myfavorite.html" class="d-flex border-bottom">
                            <span class="icon1 mr-2"><i class="typcn typcn-heart-outline fs-20"></i></span> My Favorite
                        </a>
                        <a href="manged.html" class="d-flex  border-bottom">
                            <span class="icon1 mr-2"><i class="typcn typcn-folder fs-20"></i></span> Managed Jobs
                        </a>
                        <a href="payments.html" class=" d-flex  border-bottom">
                            <span class="icon1 mr-2"><i class="typcn typcn-credit-card fs-20"></i></span> Payments
                        </a>
                        <a href="orders.html" class="d-flex  border-bottom">
                            <span class="icon1 mr-2"><i class="typcn typcn-shopping-cart fs-20"></i></span> Orders
                        </a>
                        <a href="tips.html" class="d-flex border-bottom">
                            <span class="icon1 mr-2"><i class="typcn typcn-flag-outline fs-20"></i></span> Safety Tips
                        </a>
                        <a href="settings.html" class="d-flex border-bottom">
                            <span class="icon1 mr-2"><i class="typcn typcn-cog-outline fs-20"></i></span> Settings
                        </a>
                        <a href="login.html" class="d-flex">
                            <span class="icon1 mr-2"><i class="typcn typcn-power-outline fs-20"></i></span> Logout
                        </a>
                    </div>
                </div>
                @*<div class="card my-select">
                    <div class="card-header">
                        <h3 class="card-title">Search Classes</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="text" class="form-control" id="text" placeholder="What are you looking for?">
                        </div>
                        <div class="form-group">
                            <select name="country" id="select-countries" class="form-control custom-select select2-show-search">
                                <option value="1" selected="">All Categories</option>
                                <option value="2">Web Security</option>
                                <option value="3">Offline</option>
                                <option value="4">Business</option>
                                <option value="5">Online</option>
                                <option value="6">Data Science</option>
                                <option value="7">Driving</option>
                                <option value="8">Education</option>
                                <option value="9">Electronics</option>
                                <option value="10">Pets &amp; Offline</option>
                                <option value="11">Computer</option>
                                <option value="12">Mobile</option>
                                <option value="13">Events</option>
                                <option value="14">Python</option>
                                <option value="15">Security Hacking</option>
                            </select>
                        </div>
                        <div class="">
                            <a href="#" class="btn btn-block btn-primary">Search</a>
                        </div>
                    </div>
                </div>
                <div class="card mb-xl-0">
                    <div class="card-header">
                        <h3 class="card-title">Safety Tips For Buyers</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled widget-spec  mb-0">
                            <li class="">
                                <i class="fa fa-check text-success" aria-hidden="true"></i> Meet Seller at public Place
                            </li>
                            <li class="">
                                <i class="fa fa-check text-success" aria-hidden="true"></i> Check item before you buy
                            </li>
                            <li class="">
                                <i class="fa fa-check text-success" aria-hidden="true"></i> Pay only after collecting item
                            </li>
                            <li class="ml-5 mb-0">
                                <a href="tips.html"> View more..</a>
                            </li>
                        </ul>
                    </div>
                </div>*@
            </div>
            <div class="col-xl-9 col-lg-12 col-md-12">
                <div class="card mb-0">
                    <div class="card-header">
                        <h3 class="card-title">Edit Profile</h3>
                    </div>
                    <form class="card-body" asp-controller="Account" asp-action="Profile" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">First Name</label>
                                    <input asp-for="Profile.FirstName" type="text" class="form-control" placeholder="@FirstName">
                                    <span asp-validation-for="Profile.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Last Name</label>
                                    <input asp-for="Profile.LastName" type="text" class="form-control" placeholder="@LastName">
                                    <span asp-validation-for="Profile.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Email address</label>
                                    <input type="email" class="form-control" placeholder="@ViewBag.Email" disabled>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Phone Number</label>
                                    <input asp-for="Profile.Phone" type="text" class="form-control" placeholder="@Phone">
                                    <span asp-validation-for="Profile.Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Address</label>
                                    <input asp-for="Profile.Adress" type="text" class="form-control" placeholder="@Address" />
                                    <span asp-validation-for="Profile.Adress"></span>
                                    </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label class="form-label">City</label>
                                    <input asp-for="Profile.City" type="text" class="form-control" placeholder="@City" />
                                    <span asp-validation-for="Profile.City"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Postal Code</label>
                                    <input asp-for="Profile.ZipCode" type="text" class="form-control" placeholder="@ZipCode" />
                                    <span asp-validation-for="Profile.ZipCode"></span>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="form-label">Country</label>
                                    <select asp-for="Profile.Country" class="form-control select2-show-search border-bottom-0 w-100 select2-show-search" data-placeholder="@Country">
                                        <optgroup label="Categories">
                                            <option>--Select--</option>
                                            <option value="Germany">Germany</option>
                                            <option value="Real Estate">Real Estate</option>
                                            <option value="Canada">Canada</option>
                                            <option value="Usa">Usa</option>
                                            <option value="Afghanistan">Afghanistan</option>
                                            <option value="Albania">Albania</option>
                                            <option value="China">China</option>
                                            <option value="Denmark">Denmark</option>
                                            <option value="Finland">Finland</option>
                                            <option value="India">India</option>
                                            <option value="Kiribati">Kiribati</option>
                                            <option value="Kuwait">Kuwait</option>
                                            <option value="Mexico">Mexico</option>
                                            <option value="Pakistan">Pakistan</option>
                                        </optgroup>
                                    </select>
                                    <span asp-validation-for="Profile.Country"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Facebook</label>
                                    <input asp-for="Profile.Facebook" type="text" class="form-control" placeholder="https://www.facebook.com/">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Google</label>
                                    <input asp-for="Profile.Google" type="text" class="form-control" placeholder="https://www.google.com/">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Twitter</label>
                                    <input asp-for="Profile.Twitter" type="text" class="form-control" placeholder="https://twitter.com/">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Pinterest</label>
                                    <input asp-for="Profile.Pinterest" type="text" class="form-control" placeholder="https://in.pinterest.com/">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">About Me</label>
                                    <textarea asp-for="Profile.AboutMe" rows="5" class="form-control" placeholder="Enter About your description"></textarea>
                                    <span asp-validation-for="Profile.AboutMe"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group mb-0">
                                    <label class="form-label">Upload Image</label>
                                    <div class="custom-file">
                                        <input type="file" asp-for="Profile.Photo" class="custom-file-input">
                                        <label class="custom-file-label">Choose file</label>
                                        <span asp-validation-for="Profile.Photo"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Updated Profile</button>
                        </div>

                    </form>
                        
                    @section Scripts{ 

                        <script>
                            $(document).ready(function () {
                                $('.custom-file-input').on("change", function () {
                                    var FileName = $(this).val().split("\\").pop();
                                    $(this).next('.custom-file-label').html(FileName);
                                })
                            })
                        </script>

                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!--/User Dashboard-->
