@model AccountIndexViewModel
@{
    ViewData["Title"] = "Profile";
    var User = ViewBag.UserName ?? "Name-Surname";
    var City = ViewBag.City ?? "City";
    var FirstName = ViewBag.Firstname ?? "First Name";
    var LastName = ViewBag.LastName ?? "Last Name";
    var Phone = ViewBag.Phone ?? "Phone";
    var Address = ViewBag.Address ?? "Adress";
    var ZipCode = ViewBag.Zip ?? "Zip Code";
    var Country = ViewBag.Country ?? "Select";
    var Image = ViewBag.Image ?? "newUser.png";


}


@*Breadcrumb*@
<partial name="_Breadcumb" model="ViewBag.Partial" />


<!--User Dashboard-->
<section class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-12 col-md-12">
                <!--Setting Partial-->
                <partial name="_Setting" />
                <!--/Setting Partial-->
            </div>
            <div class="col-xl-9 col-lg-12 col-md-12">
                <div class="card mb-0">
                    <div class="card-header">
                        <h3 class="card-title">Edit Profile</h3>
                    </div>
                    <form class="card-body" asp-controller="Account" asp-action="Profile" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">

                                <div class="form-group">
                                    @if (ViewBag.IsCompany == true)
                                    {
                                        <label class="form-label">Company Name</label>
                                    }
                                    else
                                    {
                                        <label class="form-label">First Name</label>
                                    }
                                    <input asp-for="Profile.FirstName" type="text" class="form-control" placeholder="@FirstName" />
                                    <span asp-validation-for="Profile.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                @if (ViewBag.IsCompany != true)
                                {
                                    <div class="form-group">
                                        <label class="form-label">Last Name</label>
                                        <input asp-for="Profile.LastName" type="text" class="form-control" placeholder="@LastName" required />
                                        <span asp-validation-for="Profile.LastName" class="text-danger"></span>
                                    </div>
                                }

                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Email address</label>
                                    <input type="email" class="form-control" placeholder="@ViewBag.Email" disabled>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Phone Number</label>
                                    <input asp-for="Profile.Phone" type="text" class="form-control" placeholder="@Phone" />
                                    <span asp-validation-for="Profile.Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Address</label>
                                    <input asp-for="Profile.Adress" type="text" class="form-control" placeholder="@Address" />
                                    <span asp-validation-for="Profile.Adress" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <label class="form-label">City</label>
                                    <input asp-for="Profile.City" type="text" class="form-control" placeholder="@City" />
                                    <span asp-validation-for="Profile.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Postal Code</label>
                                    <input asp-for="Profile.ZipCode" type="text" class="form-control" placeholder="@ZipCode" />
                                    <span asp-validation-for="Profile.ZipCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="form-label">Country</label>
                                    <select asp-for="Profile.Country" class="form-control select2-show-search border-bottom-0 w-100 select2-show-search" data-placeholder="@Country">
                                        <optgroup label="Categories">
                                            <option>--Select--</option>
                                            <option value="Germany">Germany</option>
                                            <option value="Real Estate">Real Estate</option>
                                            <option value="Canada">Canada</option>
                                            <option value="Usa">Usa</option>
                                            <option value="Afghanistan">Afghanistan</option>
                                            <option value="Albania">Albania</option>
                                            <option value="China">China</option>
                                            <option value="Denmark">Denmark</option>
                                            <option value="Finland">Finland</option>
                                            <option value="India">India</option>
                                            <option value="Kiribati">Kiribati</option>
                                            <option value="Kuwait">Kuwait</option>
                                            <option value="Mexico">Mexico</option>
                                            <option value="Pakistan">Pakistan</option>
                                        </optgroup>
                                    </select>
                                    <span asp-validation-for="Profile.Country"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Facebook</label>
                                    <input asp-for="Profile.Facebook" type="text" class="form-control" placeholder="https://www.facebook.com/">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Google</label>
                                    <input asp-for="Profile.Google" type="text" class="form-control" placeholder="https://www.google.com/">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    @if (ViewBag.IsCompany != true)
                                    {
                                        <label class="form-label">About Me</label>

                                    }
                                    else
                                    {
                                        <label class="form-label">About Company</label>

                                    }
                                    <textarea asp-for="Profile.AboutMe" rows="5" class="form-control" placeholder="Please write about you or your company"></textarea>
                                    <span asp-validation-for="Profile.AboutMe" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group mb-0">
                                    @if (ViewBag.IsCompany != true)
                                    {
                                        <label class="form-label">Upload Avatar</label>
                                    }
                                    else
                                    {
                                        <label class="form-label">Upload Logo</label>
                                    }
                                    <div class="custom-file">
                                        <input type="file" asp-for="Profile.Photo" class="custom-file-input">
                                        <label class="custom-file-label">Choose photo</label>
                                        <span asp-validation-for="Profile.Photo" class="text-danger"></span>
                                        <span>@Html.ValidationSummary("", new { @class = "text-danger" })</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Update Profile</button>
                        </div>

                    </form>

                    @section Scripts{

                        <script>
                            $(document).ready(function () {
                                $('.custom-file-input').on("change", function () {
                                    var FileName = $(this).val().split("\\").pop();
                                    $(this).next('.custom-file-label').html(FileName);
                                })


                            })
                        </script>

                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!--/User Dashboard-->
